.wrapper{
  // ** Desktop Styles **
  @include bp(md-wide){
    @include container(1024px);
    padding: 66px 26px 66px 23px;
  }

  // ** Desktop HD Styles **
  @include bp(lg-wide){
    @include container(1440px);
    padding: 66px 36px 66px 44px;
  }

  .card{
    // ** Desktop Styles **
    box-sizing: border-box;
    @include bp(md-wide){
      @include container(975px);
    }
     // ** Desktop HD Styles **
    @include bp(lg-wide){
      @include container(1360px);
    }
      overflow: hidden;
      margin: 0 auto;

    .user-info{
      background-color: $primary-bg;
      text-align: center;
      padding: 115px 41px;
      height: 892px;
      box-sizing: border-box;
      font-family: Arial;

      @include bp(md-wide){
        @include span(5 inside no-gutters);
        @include container(320px);
        padding: 163px 40px 11px 41px;
        border-top-left-radius: 42px; 
        border-bottom-left-radius: 42px; 
        margin-top: 5px;
        
      }

      @include bp(lg-wide){
        @include span(5 inside no-gutters);
         @include container(552px);
         padding: 161px 97px;
      }

      &--image{
        margin-bottom: 93px;
        &:hover{
          transition: ease-in-out 250ms;
       }

        @include bp(md-wide){
          margin-bottom: 100px;
        }

        @include bp(lg-wide)
        {
          margin-bottom: 117px;
        }

      }

      &--heading{
        font-size: 36px;
        font-weight: bold;
        color: $primary-color;;
        margin-bottom: 24px;

        @include bp(md-wide){
          font-size: 24px;
          margin-bottom: 22px;
        }
        @include bp(lg-wide)
        {
          font-size: 36px;
        }
      }
      &--description{
        font-size: 22px;
        line-height: 1.26;
        color: $primary-color;;
        margin-bottom: 42px;
        @include bp(md-wide){
          width: 311px;
          height: 55.3px;
          font-family: Arial;
          font-size: 18px;
          line-height: 1.53;
           color: $primary-color;;
           margin-left: -37px;
        }
        @include bp(lg-wide){
          width: 351.7px;
          height: 55.3px;
          font-family: Arial;
          font-size: 22px;
          line-height: 1.26;
          margin-left: 0;
       
        }
      }

      .user-info-icon{
        transform: rotate(90deg);
         cursor: pointer;
        transition: transform ease-out 1s;
  
        @include bp(md-wide) {
           //Desktop styles 
         transform: rotate(0deg);
        }
      }

      .icon-text-close{
        transform: rotate(-90deg);
        transition: transform ease-out 1s;
        
        cursor: pointer;
          @include bp(md-wide) {
            //Desktop styles 
          transform: rotate(-180deg);
        }
      }
    }

    .user-form{
      height: 100%;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      
        
      @include bp(md-wide){
        @include span(8 inside no-gutters );
        border-top-right-radius: 42px; 
        border-bottom-right-radius: 42px; 
        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
        height: 887px;
        margin-top: 5px;
      }
      @include bp(lg-wide){
        @include span(7 inside no-gutters);
        border-top-right-radius: 42px; 
        border-bottom-right-radius: 42px; 
        box-shadow: 0 2px 30px 0 rgba(0, 0, 0, 0.13);
       
      }
      .content1{
        padding: 95px 20px;
        @include bp(md-wide)
        {
          padding: 63px 38px 63px 38px;
        }
        @include bp(lg-wide)
        {
          padding: 111px 155px 105px 155px;
        }

        .form-group{
          box-sizing: border-box; 
          margin-bottom: 18px;

          @include bp(md-wide) {
            //Desktop styles   
            margin-bottom: 22px;
           }
  
          label{
            display: block;
            font-family: Arial;
            font-size: 16px;
            color: #373d40;
            margin-bottom: 8.3px;
           
            @include bp(md-wide) {
              //Desktop styles 
             width: 29%;
             display: inline-block;
             }
          
          }
          .radio-label
          {
            vertical-align: super;
          }

          .radio-group-container
          {
            .form-group-radio
            {
              &:hover{
                transition: ease-in-out 250ms;
              }
                @include bp(sm) {
                   @include span(6);
               }
              .radio-item{
                display: none;
              }
              .label-item{
               opacity: 1;
                position: relative;
                transition: all .2s;
                &:hover{
                  transition: ease-in-out 250ms;
                }
                 @include bp(md-wide) {
                  //Desktop styles 
                  width: 29%;
                  display: inline-block;
                 }
                .icon-gender
                {
                  width: 53px;
                  height: 53px;
                  border-radius: 50%;
                  display: inline-block;
                  background-color: #f5f8f9;
                  padding: 15px;
                  box-sizing: border-box;
                  transition: all .2s;
                 }

                .icon-text{
                  position: absolute;
                  left: 55px;
                  top: 25px;
                  transform: translateY(-50%);
                  transition: all .2s;
                  color: #b1bfcd;
                  font-size: 14px;
                  margin-left: 21px;
                }
              }
             
              .radio-item:checked + label{
                 opacity: 0.5;
                 transition: all .2s;
              }
              label{
                cursor: pointer;
              }
            }
            @include bp(md-wide) {
              //Desktop styles 
              width: 70%;
              display: inline-block;
              vertical-align: middle;
             }
          }
 
          input{
            width: 100%;
            -webkit-box-sizing: border-box; 
            -moz-box-sizing: border-box;    
            box-sizing: border-box; 
            padding: 17px 14px;
            border: solid 1.2px #cad7dd;
            border-radius: 5.3px;
            &:hover{
              transition: ease-in-out 250ms;
            }
           
            background-color: #f5f8f9;
            @include bp(md-wide) {
               //Desktop styles 
              width: 70%;
              padding: 17px 20px;
              display: inline-block;
              
             }
          }
          input[type="date"]{
            color: $primary-color;
          }
          .buttons-container
          {
            text-align: right;
            .btn{
              text-align: center;
              display: block;
              padding: 18px ;
              width: 100%;
              margin-bottom: 9px;
              border: 0;
              font-size: 16px;
              text-align: center;
              color: #373d40;
              text-transform: uppercase;
              background-color: #f5f8f9;
              border-radius: 5.3px;
              
              cursor: pointer;
              @include bp(md-wide) {
                 //Desktop styles 
               display:inline-block;
               width: 158.7px;
               margin-right: 20px;
               &:last-child{
                 margin: 0;
               }
            
               }
    
              &--save{
                background-color: #60e6c5;
                color: #fff;
           
              }
              &:hover{
                transition: ease-in-out 250ms;
                }
             }
          }
         
        }
        .membership{
          @include bp(md-wide) {
            margin-bottom: 80px;
          }
          .membership-container {
            .membership-radio{
              .icon-gender{
               
                padding: 5px !important;
                img{
                  position: absolute;
                  top: 16px;
                  left: 13px;
                }
                &.dark-radio{
                  background: #b1bfcd;
                  color: #fff;
                }
              }
              
              @include bp(sm) {
                @include span(6);
            }
            @include bp(md-wide) {
              @include span(4);
             }
            
             
                .label-item{
                  .icon-text{
               
                   @include bp (md-wide){
                    margin-left: 12px;
                   }
                   
                  }
                  @include bp (md-wide){
                    .last-icon-text{
                      margin-left: 22px;
                    }
                  }
                
                 }
            }
          }
        }
      }
     .content2{
       height: 100%;
       position: absolute;
       background: $secondary-bg;
       width: 100%;
       padding: 69px 37px 0px 20px;
       font-family: Arial;
       transform: translate(0, -100%);
       transition: transform ease-out 1s;
       top: 0;
       left: 0;
       
       
         @include bp(md-wide) {
          transform: translate(-100%, 0);
          padding: 164px 81px 254px 81px;
         }

       @include bp(lg-wide) {
           padding: 161px 124px 340px 124px;
           transform: translate(-100%, 0);
        }




       .content-heading{
         font-weight: bold;
         color: $primary-color;;
        font-size: 36px;
        margin-bottom: 21px;

        @include bp(md-wide) {
             margin-bottom: 44px;
            }
   
          @include bp(lg-wide) {
               font-size: 36px;
               margin-bottom: 44px;
           }
     
       }
       .content-description
       {
        width: 280px;
         color: $primary-color;;
  
         a{
          color: $primary-color;;
          font-weight: bold;
         }

         @include bp(sm-wide)
         {
           width: 90%;
         }

         @include bp(md-wide) {
            width: 423px;
            font-size: 18px;
            line-height: 27.6px;
            }
   
          @include bp(lg-wide) {
            width: 577px;
            font-size: 18px;
            line-height: 27.6px;
           }
       }
     }

      
    }
    .user-form.open .content2{
      transform: translate(0,0);
    
    }
  }
}

.error{
  color:  $secondary-bg;
  border: 1px solid $secondary-bg !important;
  border-radius: 5.3px;
 
}
.message{
  color:  $secondary-bg;
  font-size: 12px;
  text-align: right;
  border: 0 !important;
  position: relative;
  top: 70px;
  left: -10px;
  font-family: Arial;
}
.success{
text-align: center;
  font-family: Arial;
  color: $primary-color;
  padding-top: 40%;
  font-weight: bold;
  .header{
    font-size: 36px;
    margin-bottom: 20px;

  }
}
.hidden{
  display: none;
}