@import "susy";
// ==========================================================================
// FONT STYLES
// ==========================================================================
$base-font-size: 12px;
$base-line-height: 1.428571429;


// ==========================================================================
// FOLDER PATHS
// ==========================================================================

$img-path: "../images";
$font-path: "../fonts";

// ==========================================================================
// COLOURS
// ==========================================================================

$primary-color: #383838;
$primary-bg: #ffd500;
$secondary-bg: #ff9200;

// ==========================================================================
// Section background colors
// ==========================================================================







// ==========================================================================
// Susy
// ==========================================================================

$susy: (
  columns: 12,
  math:fluid,
  container: 1920px,
  global-box-sizing: border-box,
   gutters: 0.25,
  gutter-position: split
);